<?xml version="1.0"?>
<launch>

  <!-- My world -->
  <arg name="world_file" default="$(find rarms_gazebo)/worlds/base.world"/> <!-- -->
  
  <!-- Export env variable so that gazebo finds our models -->
  <env name="GAZEBO_MODEL_PATH"
       value="$(find rarms_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
  
  <!-- Gazebo parameters -->
  <arg name="paused" default="true" doc="Starts Gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts Gazebo gui" />

  <!-- controller parameters -->
  <arg name="controller" default="joint_group_effort_controller" doc="Arm controller to use (joint_group_position_controller, joint_group_effort_controller, joint_trajectory_controller)" />

  <!-- Launch empty Gazebo world (notice the world_name arg if the above world_file is loaded) -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/> 
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  
  <!-- Robot pose -->
  <arg name="x" default="0"  doc="How far forward to place the base of the robot in [m]?" />
  <arg name="y" default="0"  doc="How far leftwards to place the base of the robot in [m]?" />
  <arg name="z" default="0"  doc="How far upwards to place the base of the robot in [m]?" />
  <arg name="R" default="0"  doc="Roll" />
  <arg name="P" default="0"  doc="Pitch" />
  <arg name="Y" default="0"  doc="Yaw" />


  <!-- Find my robot Description-->
  <param name="robot_description" command="$(find xacro)/xacro $(find rarms_gazebo)/urdf/r2_arm.xacro"/>

  <!-- Spawn The Robot using the robot_description param-->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf 
              -param robot_description 
              -model r2_arm
              -x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -R $(arg R)
              -P $(arg P)
              -Y $(arg Y)
              -J joint_1  0.5
              -J joint_2  0.5
              -unpause"/>
       
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rarms_gazebo)/config/control/r2_control.yaml" command="load"/>

  <!-- Spawn the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/r2_arm" args="joint_state_controller $(arg controller)"/>

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/r2_arm/joint_states" />
  </node>

  <node name="world_transform" pkg="tf" type="static_transform_publisher" 
  	args="$(arg x) $(arg y) $(arg z) $(arg R) $(arg P) $(arg Y) world base_link 100" />   


  <param name="robot_name" value="robot_R2"/>
  <node pkg="tcp_interface" type="tcp_interface" name="tcp" output="screen">
	<param name="TCP_server_port" value="9000"/></node>

  <node pkg="rarms_gazebo" type="gazebo_contacts" name="gazebo_contacts" output="screen">
  </node>

  <node pkg="rarms_gazebo" type="gazebo_links.py" name="gazebo_links" output="screen">
  </node>

</launch>

