<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hand">

    <xacro:macro name="gazebo_red_link_color_block" params="link_name">
    <gazebo reference="${link_name}">
    <visual>
      <material>
	    <ambient>1.0 0.0 0.0 1.0</ambient>
	    <diffuse>0.56666695 0.56666695 0.56666695 1.0</diffuse>
	    <specular>0.6000003 0.6000003 0.6000003 1.0</specular>
      </material>
    </visual>
    </gazebo>
    </xacro:macro>


    <!-- link_ee -->
    <xacro:property name="length_ee" value="0.005" />
    <xacro:property name="radius_ee" value="0.003" />
    <xacro:property name="mass_ee" value="0.100" />

    <!-- link_ee -->
    <link name="link_ee">
        <xacro:cylinder_inertial_block mass="${mass_ee}" length="${length_ee}" radius="${radius_ee}"/>
        <visual>
            <origin xyz="0.0 0.0 ${length_ee/2.0}" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${radius_ee}" length="${length_ee}"/>
            </geometry>
            <material name="Red"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 ${length_ee/2.0}" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${radius_ee}" length="${length_ee}"/>
            </geometry>>
        </collision>
    </link>    
    <xacro:gazebo_red_link_color_block link_name="link_ee"/>


</robot>

